#.gitignore of easyEDA project
*/.classpath
*/.project
*/.eclipse/
*/.eclipse/*.*
*/target/
*/target/*.*
*/.DS_Store
core/*/.settings
core/*/.classpath
core/*/.DS_Store
core/*/.project
easyeda.sample/.settings
