#.gitignore of easyEDA project
*/.classpath
*/.project
*/.eclipse/
*/.eclipse/*.*
*/target/*.*
*/.DS_Store
core/*/.settings
core/*/.classpath
core/*/.DS_Store
core/*/.project
core/*/target
core/*/target/*
easyeda.sample/.settings
.DS_Store
